.inputStart{
    box-sizing: border-box;
    height: 45px;
    border: solid 3px rgb(70, 100, 142); 
    width: 285px;
    font-size: 16px;

}   

.formStart {
    display: flex;
    align-items: center;
}