.chatHeder {
  box-sizing: border-boxs;
  width: 100vw;
  height: 90px;
  background-color: rgb(120, 226, 141);
  text-align: center;
  padding: 1rem;

}
.chatLink {
 margin-right: 2rem;
 font-size: 25px;
 font-weight: 600;
 font-style: italic;
 color: rgb(4, 50, 14);
 text-decoration:none; 
}
.messagInpAdd{
  width: 100vw;
  
}
.messageBlock{
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: space-between;

}
.addMessadeInp{
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}